{% extends 'base.html' %}

{% block content %}
{% load static %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body style= "color: white;">

<h1 style = margin-left:45%> Create </h1>
<br />
<form method="post" action="{% url 'create' %}" enctype='multipart/form-data' style = margin-left:43%>
{{ error }} <br/>
{% csrf_token  %}
First Name: <br />
<input type = 'text' name = 'First_name' />
<br />


Last Name: <br />
<input type = 'textbox' name = 'Last_name' />
<br />

Your Details: <br />
<input type = 'textbox' name = 'Your_details' />
<br />

Your Pic: <br />
<input type = 'file' name = 'Your_pic' />
<br />

<input class="btn btn-primary" type="submit" value="Upload!">

</form>

</body>
{% endblock %}